{% extends "base.html" %}


{% block page_content %}
<div class="page-header">
	<div class="page-header-content">
		
		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a href="<?php echo base_url();?>"><i class="icon-home2 position-left"></i> Home</a></li>
				<li class="active">Dashboard</li>
				<li class="active">View books</li>
			</ul>
		</div>
</div>

<!-- Basic responsive table -->
<div class="panel panel-flat">
	<div class="panel-heading">
		<h5 class="panel-title">Book List</h5>
		<div class="heading-elements">
			<ul class="icons-list">
			    <li><a data-action="collapse"></a></li>
			    <li><a data-action="reload"></a></li>
			    <li><a data-action="close"></a></li>
			</ul>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table">
		{% for item in book %}
			<thead>
				<tr>
					<th>No</th>
					<th>Book Title</th>
					<th>Author</th>
					<th>Category</th>
					<th>Quantity</th>
					<th class="text-center" style="width: 30px;"><i class="icon-menu-open2"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
   					<td class="text-center">{{item.id}}</td>
   					<td class="text-center">{{item.title}}</td>
   					<td class="text-center">{{item.authors}}</td>
   					<td class="text-center"><span>{{item.category}}</span></td>
   					<td class="text-center"><span>{{item.quantity}}</span></td>
   					<td class="text-center">
						<ul class="icons-list">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
                                {% if current_user.is_admin %}
                                	<li><a href="{{ url_for('admin.edit_book') }}">Edit book</a></li>
                                	<li><a href="{{ url_for('admin.delete_book') }}">Delete book</a></li>
                                {% else %}
                                	<li><a href="{{ url_for('borrow.borrow_book') }}">Borrow book</a></li>
                                {% endif %}
								</ul>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		{% endfor %}
		</table>
	</div>
</div>

<!-- /basic responsive table -->
{% endblock %}