<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Application</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/loaders/blockui.min.js') }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/visualization/d3/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/visualization/d3/d3_tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/ui/moment/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/pickers/daterangepicker.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/core/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
    <!-- /theme JS files -->

</head>
<body>

{% block navbar %}
<!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>

                
            </ul>

            {% if current_user.is_authenticated %}

            <ul class="nav navbar-nav navbar-right">
                

                <p class="navbar-text"><span class="label bg-success-400">Online</span></p>

                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                    
                        <span>
                        {{ current_user.name|capitalize }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                        <li class="divider"></li>
                        
                        <li><a href="{{ url_for('main.logout') }}"><i class="icon-switch2"></i> Logout</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="page-container login-container">

        <!-- Page content -->
        <div class="page-content">
        {% if current_user.is_authenticated %}

        <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                

                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <div class="media-body">
                                    <span class="media-heading text-semibold" >{{ current_user.name|capitalize }}</span>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->


                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">

                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">

                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li class=""><a href="{{ url_for('dashboard.view_books') }}">  <i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <li><a href="{{ url_for('dashboard.view_books') }}">Book list</a></li>
                                
                                {% if current_user.is_admin %}
                                <li><a href="{{ url_for('admin.add_book') }}">Add a book</a></li>
                                <li><a href="{{ url_for('admin.view_borrowed_books') }}">Borrowed books</a></li>
                                {% else %}
                                <li><a href="{{ url_for('dashboard.my_books') }}">My Books</a></li>
                                {% endif %}
                                <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                    
                </div>
            </div>
            <!-- /main sidebar -->
            {% endif %}

            <!-- Main content -->
            <div class="">

                <!-- Content area -->
                <div class="content">
                
                    
                    {% for message in get_flashed_messages() %}
                        <div class="col-md-4 col-md-offset-4">
                            <div class="alert alert-warning text-center">    
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        </div>    
                    {% endfor %}

    {% block page_content %}{% endblock %}
                </div>
                <!-- /content area -->
                <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2016. <a href="#">Library Application using Flask</a> by Loice Andia
    </div>
    <!-- /footer -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

</div>
<!-- /page container -->
    
</div>
{% endblock %}


    </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
    </div>
    <!-- /page content -->
    </div>
    <!-- /page container -->

</body>
</html>